@model List<Flight>
@{
    ViewData["Title"] = "List of Flights";
}

<h2>@ViewData["Title"]</h2>
@* <a asp-action="Create" class="btn btn-primary">Create Flight <i class="fa-solid fa-plus"></i></a>
<a asp-controller="Flight" asp-action="Index" class="btn btn-primary">Flights<i class="fa-solid fa-plus"></i></a> *@

@if (Model.Any()) // check if Model is null. 'Model' is reserved keyword to access the model
{
    <!-- Flight Card-->
    <div class="container">
        <div class="row">
            @foreach (var flight in Model)
            {
                <div class="col-md-6">
                    <div class="flight-card shadow custom-rounded">
                        <div class="flight-card-body">
                            <div class="flight-info">
                                <p><b>Departure Time:</b> @flight.DepartTime </p>
                                <p><b>Arrivial Time:</b> @flight.ArrivalTime</p>
                                <p><strong>From:</strong> @flight.From <strong>To:</strong> @flight.To</p>
                                <p><b>Airline:</b>  @flight.Airline</p>
                            </div>
                            <div class="flight-price">$500</div>
                        </div>
                        <div class="text-center custom-margin">
                            <!-- Add custom margin class -->
                            <a asp-controller="FlightBooking" asp-action="Create" asp-route-flightId="@flight.FlightId" class="btn btn-primary btn-lg">Book</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No flights available</p>
}





