@model Room
@{
    ViewData["Title"] = "Room Details";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://assets-global.website-files.com/5c6d6c45eaa55f57c6367749/65045f093c166fdddb4a94a5_x-65045f0266217.webp" class="img-fluid" alt="Hotel Room">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Model.Name</h3>

                    <dl class="row">
                        <dt class="col-sm-3">Room ID</dt>
                        <dd class="col-sm-9">@Model.HotelId</dd>

                        <dt class="col-sm-3">Hotel</dt>
                        <dd class="col-sm-9">@Model.Hotel?.HotelName</dd>

                        <dt class="col-sm-3">Capacity</dt>
                        <dd class="col-sm-9">@Model.Capacity</dd>

                        <dt class="col-sm-3">Bed Description</dt>
                        <dd class="col-sm-9">@Model.BedDescription</dd>

                        <dt class="col-sm-3">Room Size</dt>
                        <dd class="col-sm-9">@Model.RoomSize (sq ft)</dd>

                        <dt class="col-sm-3">Price per night</dt>
                        <dd class="col-sm-9">$@Model.PricePerNight</dd>

                        <dt class="col-sm-3">Amenities</dt>
                        <dd class="col-sm-9">@Model.Amenities</dd>
                    </dl>

                    <a asp-controller="RoomBooking" asp-action="Create" asp-route-roomId="@Model.RoomId" class="btn btn-primary">Reserve Room<i class="fa-solid fa-plus"></i></a>
                    <a asp-action="Index" asp-route-hotelId="@Model.HotelId" class="btn btn-secondary">Return</a>
                </div>
            </div>
        </div>
    </div>
</div>
