@model Car
@{
    ViewData["Title"] = "Car Detail";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://www.kbb.com/wp-content/uploads/2022/10/2023-toyota-rav4-prime-frt-3qtr.jpg?w=918" class="img-fluid" alt="Car">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Model.Make @Model.Model</h3>
                    <p class="card-text">@Model.Type</p>

                    <dl class="row">
                        <dt class="col-sm-3">Price/Day</dt>
                        <dd class="col-sm-9">$@Model.PricePerDay</dd>

                        <dt class="col-sm-3">Max Passengers</dt>
                        <dd class="col-sm-9">@Model.MaxPassengers</dd>

                        <dt class="col-sm-3">Transmission</dt>
                        <dd class="col-sm-9">@Model.Transmission</dd>

                        <dt class="col-sm-3">Air Conditioning</dt>
                        <dd class="col-sm-9">@(Model.HasAirConditioning ? "Yes" : "No")</dd>

                        <dt class="col-sm-3">Unlimited Mileage</dt>
                        <dd class="col-sm-9">@(Model.HasUnlimitedMileage ? "Yes" : "No")</dd>

                        <dt class="col-sm-3">Rental Company</dt>
                        <dd class="col-sm-9">
                            <p class="btn btn-outline-info">
                                @(Model.Company != null ? @Model.Company.CompanyName : "")
                            </p>
                        </dd>

                    </dl>

                    <a asp-controller="CarBooking" asp-action="Create" asp-route-carId="@Model.CarId" class="btn btn.sm btn-primary" role="button">Book Car</a>
                    <a asp-action="Index" class="btn btn-secondary">Return</a>
                </div>
            </div>
        </div>
    </div>
</div>
