@model FlightBooking

@{
    ViewData["Title"] = "Create Flight Booking";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <!-- Displays mode-lreated validation errors here -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(Model => Model.BookingId)
            <div class="form-group">
                <label asp-for="@Model.FlightId" class="control-label">Flight Number</label>
                <input asp-for="@Model.FlightId" class="form-control" />
                <span asp-validation-for="@Model.FlightId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.FlightClass" class="control-label">Class Seat</label>
                <input asp-for="@Model.FlightClass" class="form-control" />
                <span asp-validation-for="@Model.FlightClass" class="text-danger"></span>
            </div>
            <label  class="control-label"></label>
                <select aclass="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                    </select>

                <span class="text-danger"></span>
            <script>
                let i = 1
                function raiseIndex() {
                    i++;
                }
            </script>
            <div id="add-passengers">
                <button type="button" class="btn btn-success" onclick="newField(i);raiseIndex();">+</button>
                @Html.Partial("_AddPassenger", Model)
                
                <!--<partial name="_AddPassenger"></partial> -->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class=" btn btn-secondary">Back</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @* this is what checks validation-for required annotation*@

}
