@model List<Hotel>
@{
    ViewData["Title"] = "List of Hotels";
    string? searchLocation = ViewBag.Location as string;
    int searchCapacity = ViewBag.Capacity as int? ?? 0;
    bool searchValid = ViewBag.SearchValid as bool? ?? false;
}
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <form asp-action="Search" class="form" method="get">
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>

        <div class="form-group mb-2 d-inline-block">
            <label for="location" class="control-label">Location</label>
            <input id="location" name="location" value="@(!String.IsNullOrEmpty(searchLocation) ? searchLocation : "")" class="form-control" />
        </div>
    
        <div class="form-group mb-2 d-inline-block">
            <label for="capacity" class="control-label">Travellers</label>
            <input id="capacity" name="capacity" type="number" value="@(searchCapacity == 0 ? 2 : searchCapacity)" class="form-control" />
        </div>

        <input type="submit" value="Search" class="btn btn-warning" />
    </form>
</div>
<h2>@ViewData["Title"]</h2>
<a asp-action="Create" class="btn btn-primary">Create Hotel<i class="fa-solid fa-plus"></i></a>

@if (Model.Any()) // check if Model is null. 'Model' is reserved keyword to access the model
{
    <table class="table">

        <thead>
            <tr>
                <th>Hotel ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Description</th>
                <th>Amenities</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var hotel in Model)
            {
                <tr>
                    <td>@hotel.HotelId</td>
                    <td>@hotel.HotelName</td>
                    <td>@hotel.Location</td>
                    <td>@hotel.Description</td>
                    <td>@hotel.Amenities</td>

                    <td>
                        @if (searchValid)
                        {
                            <a asp-controller="Room" asp-action="Search" asp-route-capacity="@searchCapacity" asp-route-hotelId="@hotel.HotelId" class="btn btn.sm btn-warning" role="button">Matching Rooms<i class="fa-solid fa-circle-info"></i></a> 
                        }
                        <a asp-controller="Room" asp-action="Index" asp-route-hotelId="@hotel.HotelId" class="btn btn.sm btn-secondary" role="button">All Rooms<i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Details" asp-route-id="@hotel.HotelId" class="btn btn.sm btn-secondary" role="button">Details <i class="fa-solid fa-circle-info"></i></a>
                        <a asp-action="Edit" asp-route-id="@hotel.HotelId" class="btn btn.sm btn-secondary" role="button">Edit <i class="fa-regular fa-pen-to-square"></i></a>
                        <a asp-action="Delete" asp-route-id="@hotel.HotelId" class="btn btn.sm btn-danger" role="button">Delete <i class="fa-solid fa-circle-xmark"></i></a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

}
else
{
    <p>No hotels available</p>
}
