@{
	Layout = "_DashboardSearch";
}


@model List<Hotel>
@{
	ViewData["Titile"] = "Hotels";
}


@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var hotel in Model)
			{
				<tr>
					<td>@hotel.HotelId</td>
					<td>@hotel.HotelName</td>
					<td>@hotel.Description</td>
					<td>
						<a asp-controller="Dashboard" asp-action="HotelDetails" asp-route-id="@hotel.HotelId" class="btn btn-info">Details</a>
						<a asp-controller="Dashboard" asp-action="HotelEdit" asp-route-id="@hotel.HotelId" class="btn btn-warning">Edit</a>
						<a asp-controller="Dashboard" asp-action="HotelDelete" asp-route-id="@hotel.HotelId" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No project available</p>

}
<a asp-controller="Dashboard" asp-action="HotelCreate" class="btn btn-primary">Create new Hotel</a>