@    using TravelGroupAssignment1.Models;
    using TravelGroupAssignment1.Areas.CarManagement.Models;

@{
	Layout = "_CarSearchItem";
}

@model List<Car>
@{
	ViewData["Titile"] = "Cars";
}
<br />
<a asp-controller="CarRentalCompany" asp-action="Index" class="btn btn-primary">Rental Companies<i class="fa-solid fa-plus"></i></a>
<a asp-controller="Dashboard" asp-action="CarCreate" class="btn btn-primary">Create new Car</a>
<br />
@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Make</th>
				<th>Model</th>
				<th>Car Rental Company</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody>

			@foreach (var car in Model)
			{
				<tr>
					<td>@car.CarId</td>
					<td>@car.Make</td>
					<td>@car.Model</td>
					<td>@car.Company.CompanyName</td>
					<td>
						<a asp-controller="CarBooking" asp-action="Index" asp-route-carId="@car.CarId" class="btn btn.sm btn-secondary" role="button">Bookings<i class="fa-solid fa-list-check"></i></a>
						<a asp-controller="Dashboard" asp-action="CarDetails" asp-route-carId="@car.CarId" class="btn btn-info">Details</a>
						<a asp-controller="Dashboard" asp-action="CarEdit" asp-route-carId="@car.CarId" class="btn btn-warning">Edit</a>
						<a asp-controller="Dashboard" asp-action="CarDelete" asp-route-carId="@car.CarId" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No project available</p>

}
